<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Location Permissions for GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Background location removed for store compliance (request only if truly required) -->
    
    <!-- Internet Permission for Map Tiles -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Contacts Permission -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- Photo Library Permission (Android 13+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- Photo Library Permission (pre-Android 13) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <!-- Notifications (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Microphone for audio evidence recording -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Biometric authentication -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <!-- Vibration for shake feedback -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Direct call for emergency (without dialer confirmation) -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- Direct SMS for emergency (background send without user confirmation) -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    
    <application
        android:label="KoruBeni"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
    </queries>
</manifest>
